<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Patient</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>

<div class="my-5">
  <div class="mx-auto w-25 " style="max-width:100%;">
    <h2 class="text-center mb-3">Add Patient</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="row">
        <div class="col-md-12 form-group mb-3">
          <label for="name" class="form-label">First Name</label>
          <input id="name"  [placeholder]="patient!.firstName"  formControlName="firstName" type="text" name="firstName" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group mb-3">
          <label for="name" class="form-label">Last Name</label>
          <input id="name" [placeholder]="patient!.lastName" formControlName="lastName" type="text" name="lastName" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group mb-3">
          <label for="dob" class="form-label">Date of Birth</label>
          <input id="dob" [placeholder]="patient!.dateOfBirth"  formControlName="dateOfBirth" name="dob" class="form-control" >
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group mb-3">
          <label for="dob" class="form-label">Phone</label>
          <input id="dob"  [placeholder]="patient!.phone" formControlName="phone" name="phone"
                 class="form-control" >
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group mb-3">
          <label for="dob" class="form-label">Address</label>
          <input id="dob" [placeholder]="patient!.address" formControlName="address" name="address"
                 class="form-control" >
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group mb-3">
          <label for="dob" class="form-label">Suburb</label>
          <input id="dob" [placeholder]="patient!.suburb" formControlName="suburb" name="suburb"
                 class="form-control" >
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group mb-3">
          <label for="dob" class="form-label">State</label>
          <input id="dob" [placeholder]="patient!.state"  formControlName="state" name="state"
                 class="form-control" >
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group mb-3">
          <label for="dob" class="form-label">Postcode</label>
          <input id="dob" [placeholder]="patient!.postcode" formControlName="postcode" name="postcode"
                 class="form-control" >
        </div>
      </div>

      <label for="gender" class="form-label">Gender</label>
      <div class="form-check">
        @if (patient!.gender == "M") {
          <input class="form-check-input"  formControlName="gender" type="radio" name="gender" id="male" value="M" checked/>
        } @else {
          <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="male" value="M"/>
        }
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check">
        @if (patient!.gender == "F") {
          <input class="form-check-input"  type="radio" formControlName="gender"  name="gender" id="female" value="F" checked/>
        } @else {
          <input class="form-check-input" type="radio" formControlName="gender"  name="gender" id="female" value="F"/>
        }

        <label class="form-check-label" for="female">Female</label>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <input  class="btn btn-primary w-100" type="submit" value="Submit">
        </div>
      </div>

      <div>

      </div>
    </form>

  </div>
</div>



</body>
</html>
